<select (change)="changeSelect($event)">
  <option>short by</option>
  <option>Short By Name asc</option>
  <option>Short By Name desc</option>
  <option>Short By Cost asc</option>
  <option>Short By Cost desc</option>
</select>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Like</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lis of carData">
      <td>{{ lis.name }}</td>
      <td>{{ lis.cost }}</td>
      <td>{{ lis.like }}</td>
    </tr>
  </tbody>
</table>
